@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*formulário*/
#desc{
    background: linear-gradient(rgba(4, 194, 33, 0.7), rgba(30, 95, 5, 0.7)), url('../images/farmacia.jpg');
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.contexto h1{
    text-shadow: 2px 2px 2px green;
    display: flex;
    position: relative;
    font-size: 2.5em;
}
#saude{
    
}
.contexto img{
    display: flex;
    width: 120px;
    filter: drop-shadow(5px 5px 5px white);
    position: absolute;
    left: 150px;
    top: 225px;
   
}